<div class="container mt-4">
  {{#if empty}}
  <div>
    <p class="h2">Ваша корзина пуста</p>
    <p class="h3">Выберите нужный Вам товар и добавьте его в корзину.
    </p>
  </div>
  {{else}}

  <div class="col">
    <div class="row cardArea">
      {{#each socksList}}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="img-cart">{{{this.style}}}</div>
          <p class="card-text">Цена {{this.price}}</p>
          <div>
            <form data-id="{{this.id}}" class="form" id="countForm" action="/cart/{{this.id}}/count" method="post">
              <p>Выберите количество:</p>
              <div>
                <select name="count" id="countSelect">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <p><input type="submit" value="Отправить"></p>
              <div>
              </div>
            </form>
            <a href="/cart/delete/{{this.id}}" class="btn btn-secondary">Удалить</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="col mt-2">
    <p>Количество товаров: Сумма всех count после submit</p>
    <p>Итоговая цена: </p>
    <a href="/order" class="btn btn-success">Кнопка купить (отправляет в order, socks, рендер на форму для
      покупки)</a>
  </div>
  {{/if}}
</div>
