<div class="container mt-4">
  {{#if empty}}
  <div>
    <p class="h2">Ваша корзина пуста</p>
    <p class="h3">Выберите нужный Вам товар и добавьте его в корзину.
    </p>
  </div>
  {{else}}

  <div class="col">
    <div class="row cardArea">
      {{#each socksList}}
      <div class="card" style="width: 18rem;">
        <img src="#" class="card-img-top" alt="imgCard">
        <div class="card-body">
          <h5 class="card-title">Ваш дизайн {{img}}</h5>
          <p class="card-text">Вы выбрали: цвет {{color}}; цена {{price}}</p>
          <div>
            <form data-id="{{id}}" class="form" id="countForm" action="/cart/{{id}}/count">
              <div>
                <select name="count" id="countSelect">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <div>
                <p><input type="submit" value="Отправить"></p>
              </div>
            </form>
            <a href="/cart/delete/{{id}}" class="btn btn-secondary">Удалить</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

    <div class="col mt-2">
      <p>Количество товаров: Сумма всех count после submit</p>
      <p>Итоговая цена: </p>
      <a href="/order" class="btn btn-success">Кнопка купить (отправляет в order, socks, рендер на форму для
        покупки)</a>
    </div>
    {{/if}}
  </div>